body {
  font-family: $rubikFont;
  font-size: 14px;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: normal;
  background-color: #ffffff;
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;

  &--sm {
    max-width: 1200px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: $dmFont;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  color: #191919;
  @include overflow(1200px);
}

.button {
  border: none;
  background-color: $gray-300;
  color: #ffffff;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
}

