.product-shop {
  padding-top: 115px;
  padding-bottom: 120px;

  .container {
    display: flex;

    @include r($lapt) {
      flex-direction: column;
    }
  }

  @include r($lapt) {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  @include r($tabl) {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  @include r($mob) {
    padding-top: 60px;
    padding-top: 60px;
  }

  &__wrapper {
    max-width: 270px;
    width: 100%;
 
    @include r($lapt) {
      position: fixed;
      right: -100%;
      z-index: 100;
      top: 0;
      bottom: 0;
      margin-right: 0;
      opacity: 1;
      visibility: visible;
      max-width: 70%;
      padding: 20px;
      overflow-y: scroll;
      background-color: $gray-100;
      transition: right 0.5s ease;
    }

    @include r($mob) {
      max-width: 100%;
    }

    &--active {
      @include r($lapt) {
        right: 0;
      }
    }
  }

  &__element {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__content {
    position: relative;

    & > span {
      position: absolute;
      top: -54px;
      right: 60px;
      font-size: 16px;

      @include r($desk) {
        right: 150px;
      }

      @include r($tabl) {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -25px -15px;
    margin-bottom: 85px;

    @include r($lapt) {
      margin-bottom: 75px;
    }

    @include r($tabl) {
      margin-bottom: 65px;
    }

    @include r($mob) {
      margin: 0;
      margin-bottom: 50px;
    }
  }

  &__item {
    margin: 20px 15px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 0px 35px 5px $gray-100;
  }

  .product-shop__list {
    &--list {
      margin: 0;
      margin-bottom: 45px;

      .product-shop__item {
        margin: 0;
        box-shadow: none;

        &:not(:last-child) {
          margin-bottom: 30px;
        }

        &:nth-child(n + 5) {
          display: none;
        }
      }
    }
  }

  .product-card {
    &--list {
      flex-direction: row;
      justify-content: space-around;
      padding: 0;
      max-width: 870px;
      width: 100%;

      .product-card__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 370px;
        width: 100%;
        height: 510px;
        margin: 0;
        background-color: $white-300;
        border: 1px solid $gray-150;
      }

      .product-card__img {
        width: 297px;

        @include r($desk) {
          max-width: 75%;
        }

        &--chair {
          width: 248px;
        }
      }

      .product-card__description {
        max-width: 49%;
        padding-left: 20px;
        margin: 0;
        font-size: 16px;
        line-height: 1.9;
        color: $blue-600;

        white-space: normal;
        text-align: start;
      }

      .product-card__subtitle {
        padding-top: 67px;
        margin-bottom: -16px;
        font-weight: 400;
        font-size: 40px;
        color: $black-250;

        @include line-clamp(2);
      }

      .product-card__price {
        display: inline-block;
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 1.5;
        color: $black-250;
        font-weight: 400;
      }

      .jq-ry-container {
        margin-bottom: 25px;
        margin-left: -8px;
      }

      .product-card__text {
        margin-bottom: 28px;
        @include line-clamp(4);
      }

      .product-card__btn {
        padding: 9px 52px 8px;
        border-radius: 3px;
        text-transform: uppercase;
      }

      .product-card__icons {
        display: none;
      }

      .product-card__text,
      .product-card__btn,
      .product-card__stars {
        display: block;
      }
    }
  }
}




