.footer {
  color: $gray-350;

  &__top {
    padding-bottom: 70px;
    border-bottom: 1px solid $gray-150;

    @include r($tabl) {
      padding-bottom: 30px;
    }

    @include r($mob) {
      padding-bottom: 25px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include r($lapt) {
      justify-content: space-around;
    }

    @include r($tabl) {
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 576px;
    }

    @include r($mob) {
      max-width: 80%;
    }
  }

  &__item {
    max-width: 270px;
    width: 100%;

    @include r($lapt) {
      max-width: 226px;
      width: auto;
    }

    @include r($tabl) {
      max-width: 250px;
      width: auto;
      margin-bottom: 50px;
    }

    @include r($mob) {
      margin-bottom: 40px;
    }

    &::last-child {
      @include r($tabl) {
        margin-bottom: 0;
      }
    }
  }

  &__logo {
    transform: translateY(-15px);

    @include r($tabl) {
      max-width: 120px;
    }
  }

  &__address {
    max-width: 200px;
    line-height: 1.7;
    @include line-clamp(6);

    p:not(:last-child) {
      margin-bottom: 10px;
    }

    a {
      transition: color 0.5s ease;

      &:hover {
        color: $gray-300;
      }

      &:focus {
        outline: 2px solid $blue-500;
      }
    }
  }

  &__logo {
    display: inline-block;
    margin-bottom: 8px;

    @include r($mob) {
      max-width: 90px;
      margin-bottom: 0;
    }
  }

  &__subtitle {
    display: inline-block;
    margin-bottom: 17px;
    font-family: $dmFont;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    color: #1f2044;
    @include overflow(200px);

    @include r($mob) {
      margin-bottom: 12px;
    }
  }

  &__element {
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  &__link {
    transition: color 0.5s ease;

    &:hover {
      color: $gray-300;
    }

    &:focus {
      outline: 2px solid $blue-500;
    }

    &:active {
      color: $gray-500;
    }
  }

  &__adress-text,
  &__text {
    line-height: 1.5;
    @include line-clamp(4);
  }

  &__text {
    margin-bottom: 40px;

    @include r($mob) {
      margin-bottom: 20px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;

    @include r($tabl) {
      padding-top: 25px;
      padding-bottom: 35px;
    }

    @include r($mob) {
      flex-wrap: wrap;
      padding-top: 20px;
      padding-bottom: 25px;
    }
  }

  &__copy {
    max-width: 500px;
    line-height: 2.3;
    @include line-clamp(3);

    @include r($tabl) {
      max-width: 300px;
      line-height: 1.4;
    }

    @include r($mob) {
      order: 2;
    }
  }

  .menu {
    &__list {
      @include r($lapt) {
        position: static;
        display: flex;
        padding: 0;
        transform: translate(0);
        background-color: transparent;
      }

      @include r($mob) {
        order: 1;
        margin-bottom: 15px;
      }
    }
  }

  .menu__item {
    margin-right: 0;

    &:last-child {
      .menu__link {
        border: none;
        padding-right: 0;
      }
    }

    &:first-child {
      .menu__link {
        padding-left: 0;
      }
    }
  }

  .menu__link {
    padding: 0 15px;
    line-height: 2;
    border-right: 2px solid $gray-350;

    @include r($tabl) {
      line-height: 1.4;
    }

    @include r($mob) {
      line-height: 1;
    }

    &:hover {
      color: $gray-300;
    }

    &:focus {
      outline: transparent;
      box-shadow: 0 0 5px $blue-500;
    }
  }
}

.form-sub {
  display: flex;
  font-family: $dmFont;

  &__input {
    width: 63%;
    padding: 11px;
    margin-right: 1px;
    border: none;
    font-size: 12px;
    color: $blue-500;
    background-color: $orange-200;
    transition: background-color 0.7s ease;

    @include r($lapt) {
      width: auto;
    }

    @include r($mob) {
      width: 100%;
    }

    &:hover {
      background-color: $orange-300;
    }

    &:focus {
      background-color: $orange-50;
    }
  }

  &__button {
    padding: 0px 17px;
    line-height: 1.5;

    &:hover {
      background-color: $gray-100;
      color: $black-400;
    }

    &:active {
      color: $black-300;
    }

    &:focus {
      outline: transparent;
      box-shadow: 0 0 5px $blue-500;
    }
  }
}
