.insights {
  position: relative;
  z-index: 2;
  padding-top: 110px;
  margin-bottom: -170px;
  position: relative;

  @include r($desk) {
    padding-top: 90px;
    margin-bottom: -145px;
  }

  @include r($tabl) {
    padding-top: 65px;
  }
  
  & + .partners {
    padding-top: 190px;

    @include r($lapt) {
      padding-top: 110px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 43px;
  }

  &__title {
    text-align: start;

    @include r($mob) {
      max-width: 240px;
    }
  }

  &__link {
    position: relative;
    padding-right: 25px;
    font-family: $dmFont;
    font-size: 16px;
    font-weight: 700;
    transition: color 0.5s ease;

    @include r($mob) {
      max-width: 72px;
      width: 100%;
      padding-right: 0;
      font-size: 14px;
    }

    svg {
      position: absolute;
      top: 5px;
      right: -2px;
      background-repeat: no-repeat;
      width: 12px;
      height: 12px;
      transition: fill 0.5s ease;

      @include r($mob) {
        top: 3px;
      }
    }

    &:hover {
      color: $gray-350;

      svg {
        fill: $gray-350;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @include r($lapt) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include r($tabl) {
    }

    @include r($mob) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    box-shadow: 0px 0px 20px 3px $gray-100;
    
    &:not(:last-child) {
      margin-right: 15px;

      @include r($lapt) {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }

    &:first-child {
      @include r($lapt) {
        margin-right: 20px;
      }

      @include r($mob) {
        margin-right: 0;
      }
    }
  }
}
