.pagination {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 15px;
  }

  &__link,
  &__next {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 1px solid $gray-300;
    font-size: 16px;
    line-height: 1.9;
    transition: background-color 0.5s ease, color 0.5s ease;
    &:hover {
      background-color: $gray-300;
      color: $white-300;
    }
  }

  &__next {
    width: 74px;
  }

  &.pagination--list {
    justify-content: flex-start;
  }
}
