
.partners {
  background-color: $orange-200;
  margin-bottom: 83px;

  @include r($tabl) {
    margin-bottom: 65px;
  }

  &__slider {
    display: flex;
    align-items: center;
    height: 250px;
  }

  &__item {
    width: 165px !important;
    height: 100px;
  }

  .slick-slide {
    display: flex;
    justify-content: space-around;
  }
}
