
.partners {
  background-color: $orange-200;
  margin-bottom: 86px;
  padding-top: 20px;

  @include r($tabl) {
    margin-bottom: 65px;
  }

  &__slider {
    display: flex;
    align-items: center;
    height: 225px;

    @include r($mob) {
      height: 120px;
    }
  }

  &__item {
    height: 100px;
  }

  .slick-slide {
    display: flex;
    justify-content: space-around;
  }
}
