<div class="partners">
  <div class="container container--sm">
    <ul class="partners__slider ">
      <li class="partners__item">
        <img class="partners__img" src="./images/content/partners/partner1.png" alt="partner logo">
      </li>
      <li class="partners__item">
        <img class="partners__img" src="./images/content/partners/partner2.png" alt="partner logo">
      </li>
      <li class="partners__item">
        <img class="partners__img" src="./images/content/partners/partner3.png" alt="partner logo">
      </li>
      <li class="partners__item">
        <img class="partners__img" src="./images/content/partners/partner4.png" alt="partner logo">
      </li>
      <li class="partners__item">
        <img class="partners__img" src="./images/content/partners/partner5.png" alt="partner logo">
      </li>
      <li class="partners__item">
        <img class="partners__img" src="./images/content/partners/partner1.png" alt="partner logo">
      </li>
      <li class="partners__item">
        <img class="partners__img" src="./images/content/partners/partner2.png" alt="partner logo">
      </li>
      <li class="partners__item">
        <img class="partners__img" src="./images/content/partners/partner3.png" alt="partner logo">
      </li>
      <li class="partners__item">
        <img class="partners__img" src="./images/content/partners/partner4.png" alt="partner logo">
      </li>
      <li class="partners__item">
        <img class="partners__img" src="./images/content/partners/partner5.png" alt="partner logo">
      </li>
    </ul>
  </div>
</div>