<div class="sidebar">
  <form class="sidebar__form">
    <label class="sidebar__label" for="search"></label>
    <input class="sidebar__input" type="text" id="search" name="search" required>
    <button class="sidebar__button">
      <svg width="18" height="18">
        <use xlink:href="images/sprite.svg#blog-search"></use>
      </svg>
      <span class="sr-only">button for searching</span>
    </button>
  </form>

  <div class="filter filter--category">
    <h3 class="filter__title">
      category
    </h3>
    <form class="filter__form">

      <label class="filter__label">
        <input class="filter__input checkbox-hidden" type="checkbox">
        <span class="filter__checkbox">
          <span class="filter__name">Chair</span>
        </span>
      </label>

      <label class="filter__label">
        <input class="filter__input checkbox-hidden" type="checkbox">
        <span class="filter__checkbox">
          <span class="filter__name">Table</span>
        </span>
      </label>

      <label class="filter__label">
        <input class="filter__input checkbox-hidden" type="checkbox">
        <span class="filter__checkbox">
          <span class="filter__name">Lamp</span>
        </span>
      </label>

      <label class="filter__label">
        <input class="filter__input checkbox-hidden" type="checkbox">
        <span class="filter__checkbox">
          <span class="filter__name">Watch</span>
        </span>
      </label>

      <label class="filter__label">
        <input class="filter__input checkbox-hidden" type="checkbox">
        <span class="filter__checkbox">
          <span class="filter__name">Clock</span>
        </span>
      </label>

    </form>
  </div>

  <h3 class="filter__title">recent posts</h3>
  <ul class="sidebar__list">
    <li class="sidebar__item">
      <article class="post-card">
        <a class="post-card__link" href="#">
          <div class="post-card__wrapper">
            <img class="post-card__image" src="images/content/blog/recent/blogimg1min.png" alt="photo of bed">
          </div>
          <div class="post-card__inner">
            <h4 class="post-card__title">
              Corem ipsum dolor tetur adipisicing elit
            </h4>
            <time class="post-card__date" datetime="2020-01-28">
              <svg width="11" height="11">
                <use xlink:href="images/sprite.svg#calendar"></use>
              </svg>
              28 January, 2020
            </time>
          </div>
        </a>
      </article>
    </li>

    <li class="sidebar__item">
      <article class="post-card">
        <a class="post-card__link" href="#">
          <div class="post-card__wrapper">
            <img class="post-card__image" src="images/content/blog/recent/blogimg2min.png" alt="photo of bed">
          </div>
          <div class="post-card__inner">
            <h4 class="post-card__title">
              Fdipisicing elit, sed do eiusmod tempor
            </h4>
            <time class="post-card__date" datetime="2020-01-28">
              <svg width="11" height="11">
                <use xlink:href="images/sprite.svg#calendar"></use>
              </svg>
              28 January, 2020
            </time>
          </div>
        </a>
      </article>
    </li>

    <li class="sidebar__item">
      <article class="post-card">
        <a class="post-card__link" href="#">
          <div class="post-card__wrapper">
            <img class="post-card__image" src="images/content/blog/recent/blogimg3min.png" alt="photo of bed">
          </div>
          <div class="post-card__inner">
            <h4 class="post-card__title">
              Eonsectetur adipisicing elit, sed do eiusmod
            </h4>
            <time class="post-card__date" datetime="2020-01-28">
              <svg width="11" height="11">
                <use xlink:href="images/sprite.svg#calendar"></use>
              </svg>
              28 January, 2020
            </time>
          </div>
        </a>
      </article>
    </li>

    <li class="sidebar__item">
      <article class="post-card">
        <a class="post-card__link" href="#">
          <div class="post-card__wrapper">
            <img class="post-card__image" src="images/content/blog/recent/blogimg4min.png" alt="photo of bed">
          </div>
          <div class="post-card__inner">
            <h4 class="post-card__title">
              gnim ad minim veniam, quis nostrud
            </h4>
            <time class="post-card__date" datetime="2020-01-28">
              <svg width="11" height="11">
                <use xlink:href="images/sprite.svg#calendar"></use>
              </svg>
              28 January, 2020
            </time>
          </div>
        </a>
      </article>
    </li>

  </ul>

</div>