.statistic {
  font-family: $dmFont;
  font-weight: 700;
  color: $blue-600;
  background-color: $orange-300;

  @include r($lapt) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include r($tabl) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    padding-top: 90px;
    padding-bottom: 77px;

    @include r($lapt) {
      justify-content: center;
      flex-wrap: wrap;
      padding: 0;
    }
  }

  &__item {
    position: relative;
    max-width: 290px;
    width: 100%;
    font-size: 18px;
    text-align: center;

    @include line-clamp(4);

    @include r($lapt) {
      font-size: 17px;
    }

    @include r($tabl) {
      width: calc(50% - 30px);
    }

    &:nth-child(1), &:nth-child(2) {
      margin-bottom: 30px;
    }

    &:nth-child(odd) {
      margin-right: 30px;
    }
 
    svg {
      fill: $blue-600;
    }

    span {
      display: block;
      margin-bottom: 8px;
      text-align: center;
      font-size: 36px;

      @include r($mob) {
        font-size: 31px;
      }
    }
  }

  &__wrapper {
    position: relative;
    width: 80px;
    height: 66px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      height: 33px;
      width: 33px;
      right: 3px;
      bottom: 2px;
      opacity: 0.5;
      background-color: $gray-300;
      border-radius: 50%;
    }
  }
}
