.author {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $gray-25;
  border-bottom: 1px solid $gray-25;
  padding-top: 25px;
  padding-bottom: 30px;
  font-size: 16px;

  @include r($lapt) {
    padding-top: 15px;
    padding-bottom: 20px;
  }

  @include r($mob) {
    display: block;
  }

  &__profile {
    display: flex;
  }

  &__wrapper {
    max-width: 76px;
    height: 76px;

    @include r($mob) {
      max-width: 70px;
      height: 70px;
    }
  }

  &__image {
    height: 100%;
  }

  &__about {
    padding-left: 30px;
    padding-top: 8px;

    @include r($mob) {
      padding-left: 10px;
    }
  }

  &__name {
    display: block;
    font-size: 18px;
    color: $black-250;
    margin-bottom: 5px;
  }

  &__role {
    line-height: 1.8;
    color: $gray-125;
  }

  &__add {
    position: relative;
    max-width: 207px;
    width: 100%;
    padding-top: 7px;
    line-height: 1.8;

    @include r($mob) {
      max-width: 160px;
    }
  }

  &__tags {
    display: inline-block;
    margin-right: 31px;

    @include r($mob) {
      margin-right: 15px;
    }
  }

  &__category {
    color: $gray-125;
    transition: color 0.5s ease;

    &:hover {
      color: $blue-500;
    }
  }

  &__social {
    display: flex;
    position: absolute;
    bottom: 7px;
    right: 19px;

    @include r($mob) {
      bottom: -1px;
      right: -17px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 22px;
    }
  }

  &__link {
    transition: color 0.5s ease;

    &:hover {
      color: $blue-500;

      svg {
        fill: $blue-500;
      }
    }
    svg {
      fill: $gray-125;
      transition: fill 0.5s ease;
    }
  }
}
