.advertising-card {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 870px;
  color: $blue-600;
  background-color: $orange-250;

  @include r($deskLarge) {
    justify-content: center;
  }

  &--left {
    .advertising-card__descr {
      max-width: 477px;
      padding-right: 139px;

      @include r($deskLarge) {
        padding-right: 0;
        padding-left: 105px;
      }

      @include r($desk) {
        padding-left: 188px;
      }

      @include r($lapt) {
        padding-left: 0;
        max-width: 300px;
      }

      @include r($tabl) {
        padding-left: 22px;
        max-width: 370px;
      }
    }

    .advertising-card__wrapper {
      @include r($desk) {
        left: -10px;
      }

      @include r($tabl) {
        width: 150px;
      }
    }
  }

  &__wrapper {
    position: absolute;
    top: -24%;
    left: 17%;
    max-width: 245px;

    @include r($deskLarge) {
      left: -10px;
      top: -140px;
    }

    @include r($desk) {
      top: -122px;
      left: -38px;
      width: 40%;
    }

    @include r($lapt) {
      display: none;
    }

    @include r($tabl) {
      position: static;
      display: block;
      width: 144px;
    }
  }

  &__img {
    min-height: 405px;

    @include r($desk) {
      min-height: auto;
    }
  }

  &__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 388px;
    max-width: 440px;
    padding-right: 109px;

    @include r($deskLarge) {
      height: 320px;
      max-width: 535px;
      padding-right: 0;
      padding-left: 202px;
    }

    @include r($desk) {
      height: 280px;
      max-width: 432px;
      padding-left: 146px;
    }

    @include r($lapt) {
      padding-left: 0px;
      max-width: 300px;
    }

    @include r($tabl) {
      max-width: 370px;
      padding-left: 15px;
    }

    @include r($mob) {
      max-width: 215px;
    }
  }

  &__title {
    font-family: $dmFont;
    display: flex;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
    @include line-clamp(3);

    @include r($mob) {
      font-size: 22px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 20px;
    @include line-clamp(5);

    @include r($mob) {
      font-size: 14px;
    }
  }

  &__link {
    position: relative;
    margin-right: auto;
    padding: 24px 85px 21px 20px;
    border: 1px solid $blue-800;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    color: $blue-800;
    transition: color 0.5s ease, background-color 0.5s ease;

    @include r($desk) {
      padding: 20px 71px 16px 16px;
    }

    @include r($mob) {
      padding: 17px 59px 13px 13px;
    }

    &:hover {
      background-color: $gray-150;

      svg {
        fill: $blue-800;
      }
    }

    &:focus {
      box-shadow: 0 0 3px $blue-500;
    }

    &:active {
      background-color: $gray-50;
    }

    svg {
      position: absolute;
      top: 29px;
      right: 19px;
      color: $blue-800;
      transition: fill 0.5s ease;

      @include r($desk) {
        top: 26px;
      }

      @include r($mob) {
        top: 23px;
      }
    }
  }
}
