.best-offer {
  display: flex;
  justify-content: space-between;
  padding-top: 185px;

  @include r(992) {
    padding-top: 110px;
  }

  @include r(768) {
    flex-direction: column;
    padding-top: 65px;
  }

  &__item {
    width: 100%;

    &:not(:last-child) {
      margin-right: 30px;

      @include r(768) {
        margin-bottom: 30px;
      }
    }
  }
}