.categories {
  display: flex;
  justify-content: center;
  margin-bottom: 74px;


  @include r($mob) {
    justify-content: flex-start;
    max-width: 86%;
    overflow-x: auto;
    margin: 0 auto 35px;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 30px;

      @include r($mob) {
        margin-right: 20px;
      }
    }
  }

  &__btn {
    border: none;
    padding: 0;
    white-space: nowrap;
    font-family: $dmFont;
    font-size: 16px;
    font-weight: 700;
    color: $gray-450;
    background-color: transparent;
    transition: color 0.5s ease;

    &:hover {
      color: $gray-650;
    }

    &:focus {
      outline: 2px solid $blue-500;
    }
  }

  .mixitup-control-active {
    color: $gray-650;
  }
}
