
.design-card {
  position: relative;
  padding: 35px 25px;
  width: 374px;
  height: 247px;
  background-color: $gray-50;
  transition: color 0.5s ease;

  @include r($lapt) {
    width: 350px;
    height: 238px;
  }

  @include r($mob) {
    width: 300px;
    height: 211px;
  }

  &:hover .design-card__descr {
    color: $gray-300;
  }

  &__wrapper {
    position: absolute;
    min-width: 108px;
    
    top: 0;
    right: 0;

    &--chair {
      top: 54px;
      right: 59px;

      @include r($lapt) {
        right: 50px;
      }

      @include r($mob) {
        right: 30px;
      }
    }

    &--big-chair {
      top: 41px;
      right: 29px;

      @include r($tabl) {
        right: 15px;
      }

      @include r($mob) {
        width: 125px;
      }
    }
  }

  &__descr {
    position: relative;
    max-width: 187px;
    padding-left: 15px;
    font-family: $dmFont;
    line-height: 1.4;
    font-weight: 700;
    color: $black-300;

    @include r($mob) {
      padding-left: 0;
      max-width: 160px;
    }
  }

  &__title {
    font-size: 20px;
    transition: color 0.5s ease;
    margin-bottom: 5px;
    @include line-clamp(2);

    @include r($mob) {
      font-size: 17px;
    }

    &:hover {
      color: $blue-800;
    }
  }

  &__type {
    display: block;
    font-size: 16px;
    color: $gray-300;
    @include overflow(55%);
  }
}
