.offer {
  display: flex;
  font-family: $dmFont;
  
  @include r($desk) {
    justify-content: space-between;
  }

  @include r($mob) {
    flex-direction: column;
  }

  &__item {
    position: relative;
    padding-right: 150px;
    padding: 33px 0 39px;
    max-width: 590px;
    width: 100%;
    padding-left: 225px;
    background-color: $orange-200;

    @include r($deskLarge) {
      padding: 28px 0 34px;
      padding-left: 119px;
    }

    @include r($desk) {
      padding: 23px 0 27px;
      padding-left: 95px;
    }

    @include r($lapt) {
      padding-left: 72px;
    }

    @include r($tabl) {
      padding: 20px 0 23px;
      padding-left: 58px;
      padding-right: 10px;
    }

    @include r($mob) {
      padding-left: 62px;
    }

    &:not(:last-child) {
      border-right: 2px solid $orange-50;

      @include r($mob) {
        border-right: none;
        border-bottom: 2px solid $orange-50;
      }
    }
  }

  &__subtitle {
    display: inline-block;
    max-width: 240px;
    font-size: 18px;
    font-weight: 700;
    line-height: 2.2;
    color: $gray-600;
    @include line-clamp(2);

    @include r($lapt) {
      display: flex;
      align-items: center;
      height: 45px;
      line-height: 1.4;
    }

    @include r($tabl) {
      font-size: 16px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 37px;
      right: 65%;
      width: 55px;
      height: 55px;
      background-repeat: no-repeat;

      @include r($deskLarge) {
        right: 78%;
      }

      @include r($lapt) {
        width: 50px;
        height: 50px;
      }

      @include r($tabl) {
        width: 44px;
        height: 44px;
        left: 7px;
      }

      @include r($mob) {
        display: block;
        left: 9px;
      }
    }

    &--sup::before {
      background-image: url("../images/sprite.svg#sup");
    }

    &--delivery::before {
      background-image: url("../images/sprite.svg#delivery");
    }

    &--pay::before {
      background-image: url("../images/sprite.svg#card");
    }
  }

  &__text {
    width: 213px;
    font-size: 16px;
    line-height: 1.8;
    color: $gray-500;
    @include line-clamp(3);

    @include r($lapt) {
      max-width: 300px;
      width: 100%;
    }

    @include r($mob) {
      max-width: inherit;
      font-size: 15px;
    }
  }
}