
.video-promo {
  position: relative;
  display: block;
  height: 46vh;
  min-height: 200px;
  margin: 0 auto;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  @include r(1200) {
    height: 37vh;
  }

  @include r(1200) {
    height: 30vh;
  }

  svg {
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    background-repeat: no-repeat;
    fill: $white-400;
    transform: translate((-50%, -50%));
  }

  &:after,
  &:before {
    content: "";
    position: absolute;
  }

  &:after {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-position: 50%;
    fill: red;
    background-color: $gray-300;
    border-radius: 50%;

    @include r(768) {
      width: 85px;
      height: 85px;
    }

    @include r(576) {
      width: 75px;
      height: 75px;
    }
  }

  &:before {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.7);
    transition: opacity 0.5s ease;
    opacity: 0;
  }

  &:hover {
    &:before {
      opacity: 1;
    }

    &:after {
      box-shadow: 0 0 15px $gray-150;
    }
  }
}
